{{#layout}}
<div class="hero">
  <div class="container">
    <h1>Pricing</h1>
    <h3>Netlify is free during our Beta</h3>
  </div>
</div>

<div class="features section">
  <h1 class="text-center">Planned Prices <small>Feedback welcome!</small></h1>

  <div class="row text-center">
    <div class="large-3 columns">
      <ul class="pricing-table">
        <li class="title">Free</li>
        <li class="bullet-item">10 Public Github repos</li>
        <li class="bullet-item">0 Private Github repos</li>
        <li class="bullet-item">50 Monthly Deploys</li>
        <li class="bullet-item">100MB Storage</li>
        <li class="bullet-item">10GB Bandwidth</li>
        <li class="price">Free</li>
      </ul>
    </div>

    <div class="large-3 columns">
      <ul class="pricing-table">
        <li class="title">Personal</li>
        <li class="bullet-item">50 Public Github repos</li>
        <li class="bullet-item">5 Private Github repos</li>
        <li class="bullet-item">100 Monthly Deploys</li>
        <li class="bullet-item">1GB Storage</li>
        <li class="bullet-item">300GB Bandwidth</li>
        <li class="price">$49/month</li>
      </ul>
    </div>

    <div class="large-3 columns">
      <ul class="pricing-table">
        <li class="title">Agency</li>
        <li class="bullet-item">&infin; Public Repos</li>
        <li class="bullet-item">20 Private Github repos</li>
        <li class="bullet-item">500 Monthly Deploys</li>
        <li class="bullet-item">100GB Storage</li>
        <li class="bullet-item">1TB Bandwidth</li>
        <li class="price">$279/month</li>
      </ul>
    </div>

    <div class="large-3 columns">
      <ul class="pricing-table">
        <li class="title">Enterprise</li>
        <li class="bullet-item">&infin; Public Github repos</li>
        <li class="bullet-item">&infin; Private Github repos</li>
        <li class="bullet-item">1000 Monthly Deploys</li>
        <li class="bullet-item">1TB Storage</li>
        <li class="bullet-item">10TB Bandwidth</li>
        <li class="price">Enterprise</li>
      </ul>
    </div>
  </div>
</div>


<div class="cta section">
  <div class="container">
    <a ng-click="signup()" class="button button-primary">Sign up for the beta</a>
    <p class="byline"><a href="/how-it-works">Tell me more first <i class="fa fa-angle-double-right"></i></a></p>
  </div>
</div>

{{/layout}}
