{{#layout}}
<div class="hero">
  <div class="container">
    <h1>Netlify Features</h1>
    <h3>CDN, Continuous Deployment, Command Line Tools and Atomic Deploys</h3>
  </div>
</div>

<div class="features section">
  <h1 class="text-center">CDN based Hosting</h1>
  <div class="container">
    <div class="row text-center">
      <div class="large-4 columns">
        <p><i class="fa fa-globe fa-5x"></i></p>
        <h3>Global Network</h3>

        <p>Sites hosted on Netlify are served straight out of our CDN nodes around the world with incredibly low latency.</p>
      </div>
      <div class="large-4 columns">
        <p><i class="fa fa-refresh fa-5x"></i></p>
        <h3>Instant Cache Validation</h3>
        <p>No need to wait for your CDN to update. The new version of your Site is live the moment your deploy is done.</p>
      </div>
      <div class="large-4 columns">
        <p><i class="fa fa-cloud-upload fa-5x"></i></p>
        <h3>Atomic Deploys</h3>
        <p>No inconsistent state while you're uploading. Your deploy only goes live when all changes have been uploaded.</p>
      </div>
    </div>
  </div>
</div>

<div class="features section">
  <h1 class="text-center">Continuous Deployment</h1>
  <div class="container">
    <div class="row text-center">
      <div class="large-4 columns">
        <p><i class="fa fa-github fa-5x"></i></p>
        <h3>Link to Github</h3>

        <p>Easily link a Netlify site to a Github repo. Whenever you push to Github we run your build and deploy the result</p>
      </div>
      <div class="large-4 columns">
        <p><i class="fa fa-hdd-o fa-5x"></i></p>
        <h3>Cached Dependencies</h3>
        <p>Dependencies (rubygems, npm, etc) are automatically installed and cached between builds to keep build time down.</p>
      </div>
      <div class="large-4 columns">
        <p><i class="fa fa-lock fa-5x"></i></p>
        <h3>Secure Environment</h3>
        <p>We never store any Github tokens on our servers and your builds are run in a locked down environment.</p>
      </div>
    </div>
  </div>
</div>

<div class="features section">
  <h1 class="text-center">Developer Friendly</h1>
  <div class="container">
    <div class="row text-center">
      <div class="large-4 columns">
        <p><i class="fa fa-terminal fa-5x"></i></p>
        <h3>Command line tools</h3>

        <p>All of Netlify's functionality can be accessed directly from the terminal, it's just an "npm install netlify" away.</p>
      </div>
      <div class="large-4 columns">
        <p><i class="fa fa-sitemap fa-5x"></i></p>
        <h3>REST API</h3>
        <p>The Netlify UI is an Angular app built on top of a powerful REST API. Full access to all of this from your programming language of choice.</p>
      </div>
      <div class="large-4 columns">
        <p><i class="fa fa-lock fa-5x"></i></p>
        <h3>Share your setup</h3>
        <p>You can share preconfigured projects and earn affiliate fees. Got the perfect Gulp+Angular+Foundation setup? Share it with the world!</p>
      </div>
    </div>
  </div>
</div>

<div class="features section">
  <h1 class="text-center">And much, much more!</h1>
  <div class="container">
    <div class="row text-center">
      <div class="large-6 columns large-push-3">
        <ul class="unstyled">
          <li>API proxying</li>
          <li>SSL for custom domains</li>
          <li>Redirect &amp; Rewrite Rules</li>
          <li>Control over custom headers</li>
          <li>Handle simple form submissions</li>
          <li>Inject JS snippets into all pages</li>
          <li>Manage production/staging environments</li>
          <li>Build in versioning with instant rollbacks</li>
          <li>...</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="cta section">
  <div class="container">
    <a ng-click="signup()" class="button button-primary">Sign up for the beta</a>
    <p class="byline"><a href="/how-it-works">Tell me more first <i class="fa fa-angle-double-right"></i></a></p>
  </div>
</div>

{{/layout}}
