{{#layout}}
<div class="hero">
  <div class="container">
    <h1>Get Started with Netlify</h1>
  </div>
</div>
<div class="project-picker section">
  <div class="container">
    <div class="row">
      <div class="large-6 columns">
        <div class="template-picker">

        </div>
      </div>
      <div class="large-6 columns">
        <div class="blurb">
        <h3>Pick a template and launch a site</h3>

        <ul>
          <li>Authorize Netlify to access your Github</li>
          <li>We create a new Git repo &amp; a new site</li>
          <li>When you update the repo, we build and deploy your site</li>
        </ul>

        <a href="#" class="button button-primary"><i class="fa fa-github"></i> Authorize</a>
      </div>
      </div>
    </div>
  </div>
</div>
{{/layout}}
