{{#layout}}
<div class="hero">
  <div class="container">
    <h1>Nothing is as Fast as a Static Site</h1>
    <h3>Netlify gives you everything you need to take even large projects static.</h3>

    <div>
      <a href="#" class="button button-primary">Get started in 30 seconds</a>
      <p class="byline">It's free, it's fast and it's fun!</p>
    </div>
  </div>
</div>

<div class="features section">
  <div class="container">
    <div class="row">
      <div class="large-4 columns">
        <i class="fa fa-globe fa-6"></i>
      </div>
      <div class="large-8 columns">
        <div class="blurb">
          <h3>Static Hosting</h3>
          Netlify hosts your sites on a worldwide CDN. Never worry about cache invalidation or fiddling with HTTP headers.
        </div>
      </div>
    </div>
    <hr class="small">
    <div class="row">
      <div class="large-4 columns large-push-8">
        <i class="fa fa-gears fa-6"></i>
      </div>
      <div class="large-8 columns large-pull-4">
        <div class="blurb">
          <h3>Pick a build tool</h3>
          Use any build tool you like. Grunt, Jekyll, Docpad, Metalsmith – your own invention?
        </div>
      </div>
    </div>
    <hr class="small">
    <div class="row">
      <div class="large-4 columns">
        <i class="fa fa-github fa-6"></i>
      </div>
      <div class="large-8 columns">
        <div class="blurb">
          <h3>Automate your builds &amp; deploys</h3>
          Link your site to Github and we'll build and deploy it everytime you make a change.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cta section">
  <div class="container">
    <h2>Sounds interesting?</h2>
    <a href="#" class="button button-primary">Try it now for free</a>
    <p class="byline"><a href="#">Tell me more first <i class="fa fa-angle-double-right"></i></a></p>
  </div>
</div>


{{/layout}}
