{{#layout}}
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="large-6 columns">
        <h1>Faster, simpler and safer websites.</h1>
        <h3>Netlify builds, deploys and host static websites and apps.</h3>
        <a ng-click="signup()" class="button button-primary">Sign up for the Beta</a>
        <p class="byline">It's free, it's fast and it's fun!</p>
      </div>
      <div class="large-6 columns">
        <div class="mockup terminal" ng-controller="terminalCtrl">
          <div class="topbar">
            <img src="/static/img/browser-bar.png"/>
          </div>

          <pre ng-bind-html="terminal.output"></pre>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="features section">
  <div class="container">
    <div class="row">
      <div class="large-4 columns">
        <i class="fa fa-globe fa-6"></i>
      </div>
      <div class="large-8 columns">
        <div class="blurb">
          <h3>Static Hosting</h3>
          Netlify hosts your sites on a worldwide CDN. Never worry about cache invalidation or fiddling with HTTP headers.
        </div>
      </div>
    </div>
    <hr class="small">
    <div class="row">
      <div class="large-4 columns large-push-8">
        <i class="fa fa-gears fa-6"></i>
      </div>
      <div class="large-8 columns large-pull-4">
        <div class="blurb">
          <h3>Pick a build tool</h3>
          Use any build tool you like. Grunt, Middleman, Jekyll, Docpad, Metalsmith – your own invention?
        </div>
      </div>
    </div>
    <hr class="small">
    <div class="row">
      <div class="large-4 columns">
        <i class="fa fa-github fa-6"></i>
      </div>
      <div class="large-8 columns">
        <div class="blurb">
          <h3>Automate your builds &amp; deploys</h3>
          Link your site to Github. When you push to git, we run your build and deploy the result.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cta section">
  <div class="container">
    <a ng-click="signup()" class="button button-primary">Sign up for the beta</a>
    <p class="byline"><a href="/how-it-works">Tell me more first <i class="fa fa-angle-double-right"></i></a></p>
  </div>
</div>

{{/layout}}
