<header>
  <div class="container">
    <div class="row">
      <div class="large-6 columns">
        <h2>Netlify</h2>
      </div>
      <div class="large-6 columns">
        <ul class="nav nav-horizontal right">
          <li><a href="/how-it-works">How it works</a></li>
          <li><a href="/features">Features</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a ng-click="signup()">Sign in</a></li>
        </ul>
      </div>
  </div>
</header>
